<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="shortcut icon" href="/resources/images/favicon/Samsong_logo.ico" th:href="@{/resources/images/favicon/Samsong_logo.ico}"/>	<!-- Favicon -->
<link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.min.css" th:href="@{/resources/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" href="/resources/bootstrap/css/bootstrap-theme.min.css" th:href="@{/resources/bootstrap/css/bootstrap-theme.min.css}"/>
<link rel="stylesheet" href="/resources/bootstrap/css/glyphicons.css" th:href="@{/resources/bootstrap/css/glyphicons.css}"/>
<link rel="stylesheet" href="/resources/views/navigation/employees-detail.css" th:href="@{/resources/views/navigation/employees-detail.css}"/>
<link rel="stylesheet" href="/resources/views/layout/header.css" th:href="@{/resources/views/layout/header.css}"/>
<link rel="stylesheet" href="/resources/views/layout/footer.css" th:href="@{/resources/views/layout/footer.css}"/>
<script src="/resources/jquery/jquery-2.1.1.min.js" th:src="@{/resources/jquery/jquery-2.1.1.min.js}"></script>   
<script src="/resources/bootstrap/js/bootstrap.min.js" th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script> 
<title>사원정보 | SAMSONG Intranet</title>
<script th:inline="javascript">
/*<![CDATA[*/var _context = [[@{/}]];/*]]>*/
</script>
<script src="/resources/views/navigation/employees-detail.js" th:src="@{/resources/views/navigation/employees-detail.js}"></script>
</head>
<body>
<!-- header 페이지 상단 네비게이션 바-->
<div th:replace="layout/header :: header"></div>
<!-- ############################################################################################################################################################# -->
<!-- Main Section-->
<div class="container">
<div class="col-md-12">
<img class="emp-photo img-rounded" th:attr="src=@{${info.empPhoto}},alt=@{${info.empPhoto}}"/>
</div>
<div class="col-xs-12"><h3 class="emp-name" th:text="${info.empName}"></h3><h3 class="emp-name" th:text="${info.empEnm}"></h3></div>
<div class="col-xs-12"><h4 class="rank" th:text="${info.rankName}"></h4><h4 class="dept" th:text="${info.deptName}"></h4></div>
<div class="table-responsive col-xs-12 table-info">
<table class="table table-striped">
	<tr>
		<td>입사일:</td>
		<td>
			<span class="glyphicon glyphicon-tag"></span>
			<span th:text="${#strings.substring(info.employDate,0,4)}"></span>년&nbsp;
			<span th:text="${#numbers.formatInteger(#strings.substring(info.employDate,5,7),1)}"></span>월&nbsp;
			<span th:text="${#numbers.formatInteger(#strings.substring(info.employDate,8,10),1)}"></span>일
		</td>
	</tr>
	<tr>
		<td>생년월일:</td>
		<td>
			<span class="glyphicon glyphicon-gift"></span>
			<span th:text="${#strings.substring(info.birth,0,4)}"></span>년&nbsp;
			<span th:text="${#numbers.formatInteger(#strings.substring(info.birth,5,7),1)}"></span>월&nbsp;
			<span th:text="${#numbers.formatInteger(#strings.substring(info.birth,8,10),1)}"></span>일
		</td>
	</tr>
	<tr>
		<td>내선번호:</td>
		<td>
			<span class="glyphicon glyphicon-phone-alt"></span>
			055-710-<span th:text="${info.inPhone}"></span>
		</td>
	</tr>
	<tr>
		<td>휴대전화:</td>
		<td>
			<span class="glyphicon glyphicon-phone"></span>
			<span th:text="${info.mobile}"></span>
		</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td>
			<span class="glyphicon glyphicon-envelope"></span>
			<span th:text="${info.empMail}"></span>
		</td>
	</tr>
	<tr>
		<td>취미:</td>
		<td>
			<span class="glyphicon glyphicon-heart"></span>
			<span th:text="${info.hobby}"></span>
		</td>
	</tr>
</table>
</div>
</div>
<!-- ############################################################################################################################################################# -->
<!-- Footer -->
<div th:replace="layout/footer :: footer"></div>
</body>
</html>