<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="shortcut icon" th:href="@{/resources/images/favicon/Samsong_logo.ico}"/>	<!-- Favicon -->
<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap-theme.min.css}"/>
<link rel="stylesheet" th:href="@{/resources/views/layout/footer.css}"/>
<script th:src="@{/resources/jquery/jquery-2.1.1.min.js}"></script>   
<script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script> 
<title>SAMSONG Intranet</title>
</head>
<body>
	<div class="main-footer" th:fragment="footer">
		<p>ⓒ2014 IP Team, SAMSONG Ltd. All Rights Reserved.</p>
	</div>
</body>  
</html>